# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
React/node_modules
React/.pnp
React/.pnp.js

# testing
React/coverage

# production
React/build

# misc
React/.DS_Store
React/.env.local
React/.env.development.local
React/.env.test.local
React/.env.production.local

React/npm-debug.log*
React/yarn-debug.log*
React/yarn-error.log*


SpringBoot/HELP.md
SpringBoot/target/
!SpringBoot/.mvn/wrapper/maven-wrapper.jar
!**SpringBoot/src/main/**/target/
!**SpringBoot/src/test/**/target/

### STS ###
SpringBoot/.apt_generated
SpringBoot/.classpath
SpringBoot/.factorypath
SpringBoot/.project
SpringBoot/.settings
SpringBoot/.springBeans
SpringBoot/.sts4-cache

### IntelliJ IDEA ###
SpringBoot/.idea
SpringBoot/*.iws
SpringBoot/*.iml
SpringBoot/*.ipr

### NetBeans ###
SpringBoot/nbproject/private/
SpringBoot/nbbuild/
SpringBoot/dist/
SpringBoot/nbdist/
SpringBoot/.nb-gradle/
SpringBoot/build/
!**SpringBoot/src/main/**/build/
!**SpringBoot/src/test/**/build/

### VS Code ###
SpringBoot/.vscode/


ReactNative/rest_api/node_modules