.footer {
    background-color: #ff9916;
    color: #fffdfd;
    padding: 10px 0;
    text-align: center;
    position:fixed;
    bottom: 0;
    width: 100%;
    /* z-index: -1; */

    > p{
        color: black;
    }
}

